<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481419776334-1mf4vt0to9l004ih1391niar8apdvk4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481419776334-1mf4vt0to9l004ih1391niar8apdvk4i</string>
	<key>API_KEY</key>
	<string>AIzaSyBmY-sknLD4MQT2l3we2fy_ISOQKN-lBV0</string>
	<key>GCM_SENDER_ID</key>
	<string>481419776334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MercadiaIOS</string>
	<key>PROJECT_ID</key>
	<string>mercadia-43fd6</string>
	<key>STORAGE_BUCKET</key>
	<string>mercadia-43fd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481419776334:ios:4f706c7d82dd3786c94e1f</string>
</dict>
</plist>